<!doctype html>
<html>
    <head>
        <title>Time Status Graph</title>

        <script src="{{ url_for('bower.static', filename='angular/angular.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='d3/d3.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='nvd3/build/nv.d3.js') }}"></script>
        <script src="{{ url_for('bower.static', filename='ng-nvd3-directives/dist/ng-nvd3-directives.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='nvd3/build/nv.d3.css') }}" />

        <script src="{{ url_for('static', filename='js/time-status.js') }}"></script>
    </head>


    <body ng-app="timeStatus">
        <div ng-controller="bulletChartController">
            <nvd3-bullet-chart
                 interactive="true"
                 tooltips="true"
                 data="screenData"
                 id="screenDataId"
                 margin="{left:110,top:0,bottom:10,right:0}"
                 width="850"
                 height="50">
                <svg></svg>
            </nvd3-bullet-chart>

            <nvd3-bullet-chart
                 interactive="true"
                 tooltips="true"
                 data="gymData"
                 id="gymDataId"
                 margin="{left:110,top:0,bottom:10,right:0}"
                 width="850"
                 height="50">
                <svg></svg>
            </nvd3-bullet-chart>

            <nvd3-bullet-chart
                 interactive="true"
                 tooltips="true"
                 data="sportrockData"
                 id="sportrockDataId"
                 margin="{left:110,top:0,bottom:10,right:0}"
                 width="850"
                 height="50">
                <svg></svg>
            </nvd3-bullet-chart>

            <nvd3-bullet-chart
                 interactive="true"
                 tooltips="true"
                 data="workData"
                 id="workDataId"
                 margin="{left:110,top:0,bottom:10,right:0}"
                 width="850"
                 height="50">
                <svg></svg>
            </nvd3-bullet-chart>

            <nvd3-bullet-chart
                 interactive="true"
                 tooltips="true"
                 data="homeData"
                 id="homeDataId"
                 margin="{left:110,top:0,bottom:10,right:0}"
                 width="850"
                 height="50">
                <svg></svg>
            </nvd3-bullet-chart>

            <nvd3-bullet-chart
                 interactive="true"
                 tooltips="true"
                 data="drivingData"
                 id="drivingDataId"
                 margin="{left:110,top:0,bottom:10,right:0}"
                 width="850"
                 height="50">
                <svg></svg>
            </nvd3-bullet-chart>
        </div>
    </body>
</html>
